.buffer {
    margin-bottom: $rem-x0;
}
    .buffer > :nth-child(1n+1) {
        margin-bottom: 0;
    }

@if $debug {
    .buffer {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            height: $rem-x0;
            width: 100%;
            background-color: $margin-colour;
        }
        & > :nth-child(1n+1):after {
            background-color: transparent;
        }
    }
}

