.inflate {
    padding-top: $size-x0;
    padding-bottom: $size-x0;
    padding-left: $size-x0;
    padding-right: $size-x0;

}
    .inflate > :nth-child(1n+1) {
        margin-bottom: 0;
    }

@if $debug {
    .inflate {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-style: solid;
            border-width: $size-x0;
            border-color: $padding-colour;
        }
        & > :nth-child(1n+1):after {
            background-color: transparent;
        }
    }
}