:root {
    font-family: $font-family-base;
    font-size: $size-base;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    line-height: $value-x2;
    color: $colour-black;
    background-color: $colour-bg;
    box-sizing: border-box;
    @if $debug {
        background-image: 
        repeating-linear-gradient(
            180deg, 
            transparent, 
            transparent $size-x1, //calc(#{$size-x1} - 2px), 
            $grid-colour $size-x1, //calc(#{$size-x1} - 2px), 
            $grid-colour $size-x2
        ), 
        repeating-linear-gradient(
            90deg, 
            transparent, 
            transparent $size-x1, //calc(#{$size-x1} - 2px), 
            $grid-colour $size-x1, //calc(#{$size-x1} - 2px), 
            $grid-colour $size-x2
        );
    }
}
