:root {
    font-family: $font-family-base;
    font-size: $size-base;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    line-height: $unit-x1;
    color: $colour-black;
    background-color: $colour-bg;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
body {
    font-size: $font-x1;
    // margin-top: 5.555555555vh;
    // margin-left: 5.555555555vw;
    // margin-right: 11.11111111vw;
    // margin-bottom: 11.11111111vh;
    margin-top: 11.11111111vh;
    margin-left: 11.11111111vw;
    margin-right: 22.22222222vw;
    margin-bottom: 22.22222222vh;
}
