// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
// endbower
@import "common/fonts";
@import "common/variables";
@import "common/reset";
@import "common/global";

@import "components/read";
// @import "components/buttons";
// @import "components/comments";
// @import "components/forms";
// @import "components/grid";
// @import "components/wp-classes";
// @import "layouts/header";
// @import "layouts/sidebar";
// @import "layouts/footer";
// @import "layouts/pages";
// @import "layouts/posts";
// @import "layouts/tinymce";

.contain {
    padding: $size-x1;
    //margin: 0 auto;
}

a.brand,
a.brand:link,
a.brand:visited,
a.brand:hover,
a.brand:active {
    color: $colour-primary;
}

.large {
    font-size: $size-x4;
    font-weight: bold;
    line-height: 1.3090169943750;
}

@media (max-width: 700px) {
	.large {
		font-size: $size-x3;
	}
}