// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
// endbower

$debug: false;//true;

@import "common/fonts";
@import "common/variables";
@import "common/reset";
@import "common/global";

@import "components/read";

@import "properties/large";
@import "properties/medium";
@import "properties/small";

@import "properties/inflate";
@import "properties/buffer";
// @import "layouts/tinymce";

a.brand,
a.brand:link,
a.brand:visited,
a.brand:hover,
a.brand:active {
    color: $colour-primary;
    display: block;
}